section#projects {
  display: flex;
  flex-grow: 1;
  height: 100%;
  padding-left: 0;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

div.project {
  display: flex;
  align-items: center;
  width: 100%;
  background: #9cbcf0;
  color: white;
  padding-inline: 0.75rem;
  padding-block: 0.375rem;
  border-radius: 0.5rem;
  border: 0;
  transition: background 0.3s ease;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: -0.00875rem;
  text-decoration: none;
}

div.project > h1 {
  display: block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 1.5rem;
  border-radius: 8px;
  margin: 0 0 1rem 0;
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-align: center;
}

div.project > div {
  display: block;
  margin-top: auto;
}
