<section id="left-nav">
  @let user = auth.user$ | async;

  @if (user) {
    <div class="user-info" routerLink="/profile" matTooltip="Your Profile">
      <img src="{{ user.picture }}" alt="User Picture"/>
      <span>{{ user.name }}</span>
    </div>
  }

  <div class="pill-group">
    @if (showGraigFathaLink) {
      <a
        class="pill"
        [routerLink]="['/stats', 'Graig Fatha']"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <span>Graig Fatha</span>
      </a>

      @if (showDocumentsLink) {
        <a
          class="pill"
          routerLink="/documents"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          <span>Documents</span>
        </a>
      }
    }

    @if (showAdmin) {
      <a
        class="pill"
        routerLink="/admin"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <span>Admin Area</span>
      </a>
    }

    @if (showDirector) {
      <a
        class="pill"
        routerLink="/director"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <span>Director Area</span>
      </a>
    }

    <app-auth-button></app-auth-button>
  </div>
</section>
